.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px groove #e8e8e8;
  background-color: red;
}
body header nav {
  background-color: #49153c;
  color: #e8e8e8;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 500px) {
  body {
    background-color: red;
  }
}
